/*Had heaps of trouble with "fixed" position on the mobile.
    26/6/21 Nev fixed header is very temperamental on Android mobile
    it was broken by this 47 character email: Sidharth.KannegalNarayanan@education.nsw.gov.au
    if broken - delete HTML sections to find the problem
*/
body {
    margin: 0;
/*    font-family: Calibri, sans-serif;*/
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 22px;
    font-size: 16pt;
}
.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    position: fixed;
    text-align: center;
    font-size: 22pt;
    width: 100%;
    padding: 10px 10px;
    background: #FDBD35;
    /*    color: #f1f1f1;*/
}

.content {
    padding: 16px;
}

/*.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }*/

.h1-18ptBold {
    text-align: center;
    font-size: 18pt;
/*    font-family: Calibri, sans-serif;*/
/*    margin: 0cm;*/
    font-weight: bold;
}

.h2-BlueBG {
    font-size: 14pt;
    text-align: center;
    color: white;
    background-color: rgb(65,70,152);
    font-weight: bold;
/*    font-family: Calibri;*/
}

.body-calibri {
    font-family: Calibri;
}

.body-purple {
/*    font-family: Calibri;*/
    color: #7030A0;
}

.body-acknowledgement {
/*    font-family: Calibri;*/
    font-style: italic;
    font-size: 9.0pt;
    color: #595959;
}
.body-smallFont {
        font-family: 'Arial Narrow';
/*    font-style: italic;*/
    font-size: 7.0pt;
/*    color: #595959;*/
}


